* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: #d3d5e6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
    display:block;
}
.search-div{
    height: 50px;
    padding: 5px;
    background: #00356b;
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.search {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.relativeSearch{
    position: relative;
    width: 50%;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.relativeSearchAside{
    position: relative;
    width: 85%;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: 10px;
    transform: translate(-50%, -50%);
}
#searchIcon{
    position: absolute;
    right: 1%;
    top: 6%;
    width: 35px;
}
#searchIcon:active{
    filter: brightness(0%);
}
.div-slideshow {
    padding: 30px;
    color: aliceblue;
}

.main-content {
    border-radius: 35px;
    display: flex;
    justify-content: center;
    color: rgb(1 1 44);
}

.slider-background{
    background-color: rgb(0 53 107 / 80%);
    padding-bottom: 50px;
    width: 75%;
}
.slideContent {
    display: none;
    text-align: center;
}

.slider {
    position: relative;
    margin: auto;
    top: 25px;
}

.imgSliderSize{
    width: 80%;
    height: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 5px black;
}

#next,
#prev {
    position: absolute;
    top: 45%;
    max-width: 6%;
}

#next:hover,
#prev:hover {
    transition: 0.5s;
    background-color: whitesmoke;
    border-radius: 20%;
    opacity: 85%;
}

#next:active,
#prev:active {
    opacity: 100%;
}

#next {
    right: 10%;
}

#prev {
    left: 10%;
}

.animation {
    animation: waves 1s ease-in-out;
}

@keyframes waves {

    0% {
        opacity: 0;
        transform: scale(1.02);
    }

    40% {
        opacity:0.8;
        transform: scale(1);
    }
    100% {
        opacity: 1;

    }

}

.headerProd{
    background-color: rgb(0 53 107);;
    color: aliceblue;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.div-products{
    background-color: #2a5483;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 4%;
    padding-bottom: 5%;
}
.product{
    background-color: #e9f4ff;
    padding:2%;
    margin: 20px;
    margin-bottom: 25px;
    border-radius:20px;
    text-align: center;
    box-shadow: 5px 5px 5px;
}
.product img:hover{
    filter: brightness(95%);
}
.product img{
    width: 270px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    flex-direction: column;
}
.discount{
    position: absolute;
    left: 7%;
    top: 2%;
    padding:5px;
    background-color: rgb(231, 136, 136);
    color:white;
}
.orderNow{
    border: none;
    background: cornflowerblue;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.orderNow:hover{
    background: rgb(163, 192, 247);
    transition: 0.5s;
    border-radius: 0;
}
.orderNow:active{
    transition: 0.1s;
    background: rgb(48, 73, 117);
}
.orderNow{
    margin-top: 20px;
    width: 300px !important;
}

.orderNow:active{
    transition: 0.1s;
    background-color: rgb(69, 84, 212);
}
.flex-Button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.product h2{
    margin-bottom: 20px;
}
.product h3{
    margin-top: 20px;
}
#arrowGoBack{
    width: 55px;
}
#arrowGoBack:active{
    filter: brightness(70%);
}

#wrapper {
    background: #67707a;
    min-height: 100vh;
}
.singleProd{
    display: flex;
    padding: 2%;
    color: rgb(49, 46, 46);
    margin-left: 12%;
    min-height: 100vh;
    margin-right: 12%;
    background: #adbac8;
}
.singleProd div{
    margin-left: 40px;
    margin-top: 40px;
}
.singleProd img{
    width: 550px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
}
.singleProd p{
    max-width: 700px;
}
.heartButtonCart{
    display: flex;
    align-items: center;
    padding: 0 !important;
}
.singlePButton{
    max-width: 300px;
}
.singlePButton button{
    width: 350px;
    height: 40px;
    border-radius: 50px;
    background-color: #00356b;
    color: white;
    border:none;
}
.singlePButton{
    display: flex;
    flex-direction: column;
}
.singlePButton button:hover{
    background-color: #1b5792;
    transition: 0.5s;
    border-radius: 0;
}
#category{
    display: flex;
    flex-direction: column;
}
#nameCategory{
    display: flex;
    flex-direction: column;
}
#productsCategory{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productPageCategory{
    display:flex;
    justify-content: center;
    background-color: #00356b;
}
.productPageCategory li{
    list-style: none;
    padding: 15px;
}
.productPageCategory :hover{
    background-color: #046ad1;
}
.categoryHeader{
    text-align: center;
    background: #00356b;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
}
#discount{
    flex-direction: column;
}
.shoppingCardBody{
    color: rgb(49, 46, 46);
    background: #adbac8;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50px;
    padding: 50px;
    margin-top: 5%;
    box-shadow: 0px 0px 1px 5000px rgb(0 0 0 / 70%);
}
.shoppingCard{
    display: flex;
    flex-direction: row;
    padding: 2%;
}
.shoppingCard div{
    width: 78%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shoppingCard input{
    padding: 5px;
    margin: 10px 0 10px 0;
}
.shoppingImage img{
    width: 100%;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .slider-background{
        width: 100%;
    }
    .burgerIcon{
        display: block;
    }
    .nav-div{
        display: none;
    }
    .product{
        width: 22%;
        margin-bottom: 10px;
    }
    .product img{
        width: 100%;
        height: auto;
    }
    .product h3,h2{
        font-size: 11pt;
    }
    .relativeSearchAside{
        display: none;
    }
    .imgSliderSize {
        width: 100%;
    }
    #next {
        right: 0;
    }
    #prev{
        left: 0;
    }
}
@media (max-width: 425px) {
    .relativeSearch{
        display: none;
    }
    .relativeSearchAside{
        display: none;
    }
    .product{
        width: 40%;
        margin: 8px;
    }
    .imgSliderSize {
        width: 100%;
    }
    #next {
        right: 0;
    }
    #prev{
        left: 0;
    }
    .product img{
        width: 80%;
        height: auto;
    }
    .product h2,h3{
        font-size: 10pt;
    }
    .addToCartIndex{
        padding: 5px;
    }
    .div-slideshow{
        padding: 10px;
    }
    .div-slideshow h1{
        font-size: 20pt;
    }
    .headerProd{
        font-size: 15pt;
    }
}
@media (max-width: 1024px) {
    .imgSliderSize {
        width: 100%;
    }
    #next {
        right: 0;
    }
    #prev{
        left: 0;
    }
}